@font-face{
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Raleway-ExtraLight';
    src: url('Raleway/static/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: serif;
    font-size: 1em;
    color: black;
    margin : 20px auto;
    margin-left: 50px;
    max-width: 1446px;
    font-family: 'Raleway';
}
a{
    text-decoration: none;/*enleve le surlignage sur les liens*/
    color: black;}
ul{
    list-style-type: none;
    padding: 2px; /*aligne les titres avec les liens*/}
    
/*HEADER*/
#logosite{
    width: 8%;
    float: left;
}
nav a{ /*attention s'inscrire doit être bleu et gras*/
    color: black;
    text-decoration: none; /*enleve le surlignage*/
}
nav a:hover{ /*marche pour le header*/
    color: #2078FD;
    border-top: 3px solid #2078FD;}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: space-around; /*marche pas*/
    padding: 20px;
    background-color: yellow;
    font-size: 0.9em;
}
/*avec ou sans les li je n'arrive pas à écarter hébergement activités et s'inscrire*/
#link-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
    background-color: purple;
}
.linkheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    background-color: green;
}
/*pas sûr que les linkheader et les ol li soient utiles*/
h1{
    font-size: 1em;
}
h2{
    font-size: .8em; /*entre le .7 et le .8em*/
    font-family: 'Raleway-ExtraLight';
    color: #404040; /*couleur pas sûr, c'est plus noir ou plus light*/
}
.localisation{
    background-color: #F2F2F2;
    padding: 5px; /*padding enlève les bordures visibles*/
     /*attention marche pas*/
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 24px;
    width: 24px;
    position: relative; /*à vérifier le choix*/
    top: 11px; /*top et left permettent de se coller à city*/
    left: 4px;
    margin-top: 10px;
    }
#city{
    height: 33px;
    font-weight: bold;
    color: black; /*j'arrive pas plus foncé mais la couleur change*/
    padding-left: 10px;
    border: solid .1em #F2F2F2;
    }
    
    
.search_button{
    background-color: #2078FD;
    color: white;
    padding: 7px;
    margin-bottom: 5px; /*attention marche pas*/
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    right: 4px; /*permet de se coller à city*/
    font-size: .9em;
}
    
#filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end; /*centre le mot Filtres avec les blocs filterlabels*/
    width: 800px;
}
.filterlabels{
    border: solid #F2F2F2 2px;
    border-radius: 50px;
    height: 30px;
    font-weight: bold;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0.9em;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center; /*YES aligne la police au centre des bulles de filtres*/
        /*line-height: px; à explorer les possibilités*/
}
/*BLOCKS*/
section{
    display: flex;
    height: 624px;
    justify-content: space-between;
    
}
article{
    display: flexbox;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 870px;
    height: 624px;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
}
#location-blocks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-around;
    
    height: 480px;
    
}
.night{
    height: 198px;
    width: 246px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 1px grey; /*tester plusieurs ombre partout pas que sur la droite et sinon tester bordure grise*/
    padding: 5px;
}

img{ /*régler la taille des images plus tard spécifiquement par bloc et non pour toutes*/
    max-width: 200px; /*attention max height bloque l'agrandissment de width 
    et inversement puisqu'il garde les proportions des photos
    comment recadrer des photos ?*/
    max-height: 120px;
}
aside{
    width:418px; /*à terme peut etre recalculer le bon pourcentage pour avoir une page ajusté plutot qu'en pixel*/
    background-color: #F2F2F2;
    border-radius: 10px;
    height: 624px; /*attention lorsque l'on rajoute des padding cela augmente la taille*/
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;

}

/*2EME BLOCK ACTIVITIES*/
#activities{ /*doit être horizontal*/
    width: 100%;
    display: flex;
    flex-direction: row; /*problème*/
    justify-content: space-around;
}

/*FOOTER*/

/*A FAIRE
ajuster la marge
J'ai perdu ce que j'avais fait
le push a du supprimer un de mes commits par un autre*/
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 200px;
    
}
.footerblocks{
    font-weight: bold;
    
    font-size: 0.8em;
    
}
.link{
    font-weight: normal;
    padding-right: 40px;
    
    
}



