                                /*MEDIA QUERIES*/

/*ATTENTION le media query tablette fait bugguer le media query mobile*/
@media screen and (min-width: 780px) and (max-width: 991px){
                                        
                                        /*VERSION Tablette*/
                                    
                                    /*ASIDE les plus populaires*/
    section{
        flex-direction: column-reverse; /*permet de mettre aside en premier, ok mais le bloc déborde*/
    }
    aside{
        width: 95%;
        display: flex;
        flex-direction: row;
    }
    .top-aside{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        padding-top: 15px;
    }
    #flex-aside{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aside-block{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-top: 0px;
    }
    .aside-block-items{
        width: 90%;
        display: flex;
        flex-direction: row; /*row place le texte à droite de la photo, column en dessous*/
        justify-content: flex-end;
        border-radius: 20px;
        box-shadow: 2px 5px 10px grey;
    }
    .imgaside{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover; /*ne semble pas faire effet*/
    object-position: 50% 50%;
    }
    .Astars, 
    .Anostar {
    padding-top: 5px;
    }
    .aside-block-items-text{

    }
                                /* ARTICLE hébergements */
    article{
        background-color: white;
        width: 98%;}
    #article__blocks{
        background-color: white;
    }
}

                                /* VERSION Mobile */


@media screen and (max-width: 780px){ /*ou max-device-width:480px pour tous les mobiles*/
                            
                            /* HEADER mobile */
    header div img{
        width: 35%;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #subscription{
        margin-right: 0px;
        font-size: 1.2em;
        padding-top: 30px;
        margin-top: 10px;
    }
    header nav{
        justify-content: flex-start;
        margin: auto;
        width: 100%;
    }
    .Hebergementspage{
        border-bottom: 3px solid #2078FD;
        border-top: none;
    }
    .Activitiespage{
        border-bottom: 3px solid lightgrey;
    }
    .Hebergementspage, 
    .Activitiespage{
        padding-bottom: 20px;
        padding-top: 30px;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
    }
    header h1{
        margin-top: 40px;
        width: 100%;
        font-size: 1.5em;
    }
    header h1, 
    header h2{
        margin-left: 0px;
        text-align: left;
    }
    header h2{
        font-size: 1em;
        margin-bottom: 40px;
    }
                            /* bouton search mobile */
    header div{
        text-align: center;
        margin-top: 0px;
    }
    .header__bottom{

    }
    .header__search-bar{
        display: flex;
        width: 100%;
        background-color: red;
    }
    .localisation{ /*lien et icône*/
    padding: 20px; /*padding enlève les bordures visibles*/
    height: 24px;
    width: 24px;
    bottom: 10px; /*top et left permettent de se coller à city*/
    left: 1px;
    margin-top: 10px;
    }
    #city{
        padding: 30px 15px 30px 15px; /*top right bottom left*/
        font-size: 1.2em;
        width: 240px;
    /*padding-left: 15px;
    font-size: 1em;*/
    }
     #city:active {
    background-color: #2078FD;
     }
    .fa-search{ /*loupe*/
        display: inline;
        color: white;
        position: relative;
        left: -5px;
        top: 0px;
        height: 23px;
        width: 23px;
        background-color: #2078FD;
    }
    .search_button{
        display: none;
    }
    .search_button2{ /*besoin d'aligner le bouton avec l'icone loupe*/
    display: inline;
    position: relative;
    left: -10px;
    height: 65px;
    width: 65px;
    color: white;
    background-color: #2078FD;
    border-radius: 20px;
    border:none;
    }
    /*.searchicon{
        color: white;
        background-color: #2078FD;
        border-radius: 20px;
    }*/
                                /* Filtres mobile */
    
    #filter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-around; 
        width: 100%;
        background-color: grey;
    }
    .filter__text{
        font-weight: bold;
        font-size: 1.4em;
        width: 100%;
        margin-left: 15px;
    }
    
    .filter__block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; 
        width: 100%;
        background-color: red;
        padding-left: 0px;
    }
    .filter__block__links{
        padding-top: 10px;
    }
    .filter__block__links__icons__text{
        font-size: 1em;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .filter__block__links__icons{
    flex-direction: row;
    background-color: blue;
    /*justify-content: flex-start;
    margin-left: 0;
    padding-left: 0;
    rien ne marche sur ce bloc mais c'est là qu'il y a un écart bizzare !!*/
    }
    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    padding: 15px;
    width: 20px;
    height: 20px;
    left: 37px;
    }
    .INFO{
        margin-left: 15px;
        width: 100%;
    }
    .INFO h2{
        width: 100%; /*à vérifier*/
        font-size: 1.1em;
    }
                                        /* Bloc principal mobile */

                                        /* Aside Les plus populaires */
    section{
        flex-direction: column-reverse; /*permet de mettre aside en premier, ok mais le bloc déborde*/
    }
        aside{
        width: 95%;
        border-radius: 0;
    }
    .Aside-title{
        font-size: 1.6em;
    }
    .fa-chart-line{
        height: 30px;
        width: 30px;
    }
    .aside-block{
        /*height: 300px; change la taille mais le reste ne suit pas*/
        width: 98%;
    }
    .aside-block-items{ /*bouge le texte pas la photo*/
        height: 180px;
        width: 100%;
    }
    .imgaside{
        /*width: 50%; *//*aucun effet sur la taille de l'image !*/
        height:100%;
        object-fit: cover;
    }
    .Astars, 
    .Anostar {
    /*padding-top: 100px;}*/}
    .A-itemnames{
        font-size: 1.2em;
        width: 90%;
    } 
    .A-p-blocks-items {
       font-size: 1em;
        }
                                /* Article Hébergements */
    article{
        margin-top: 10px;
        background-color: #fdfdfd;
    }
    article, 
    #article__blocks{
        background-color: #ffffff;
        width: 100%; 
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    #Hebergement{
    font-size: 1.7em;
    padding-left: 20px;
    }
    .article__blocks__items{
        width: 95%;
        /*height: 100px; pas terrible car la photo n'est plus aligné au block item*/
        font-size: 1.3em;
        margin-left: 0px;
    }
    .img-article-items{
        width: 98%;
        max-height: 150px;
    }
    .p-blocks-items{
        font-size: 1em;
    }
    .stars, .nostar{
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    }
    .More{
    font-size: 1.3em;
    padding-left: 30px;
    }


                                    /* Bloc activités GRID mobile */
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 100px;
        width: 95%;
    }
    .place1{
        grid-column: 1;
        grid-row: 1;
    }
    .place2{
        grid-column: 1;
        grid-row: 2;
    }
    .place3{
        grid-column: 1;
        grid-row: 3;
    }
    .place4{
        grid-column: 1;
        grid-row: 4;
    }
    .place5{
        grid-column: 1;
        grid-row: 5;
    }
    .place6{
        grid-column: 1;
        grid-row: 6; 
    }
    .place3, 
    .place5, 
    .place6 {
        height: 100%;
        margin-top: 0px;
    }
    .container__gallery__item{
        max-height: 180px;
        width: 100%;
    }
    .container__gallery__item__text{
        font-size: 1.2em;
    }
    #Activites{
        font-size: 1.9em;
    }
    .container__gallery__item .container__gallery__item__image img{
    object-position: 50% 50%; /* le premier 50% ne change rien, par défaut c'est top left*/
    }

                                                /* FOOTER mobile */
    footer{
        flex-direction: column;
        width: 100%;
    }
    footer div{
        margin-bottom: 15px;
        font-size: 1.2em;
        margin-right:0px;
        margin-left: 0px;
    }
}