                                /*MEDIA QUERIES*/

/*ATTENTION le media query tablette fait bugguer le media query mobile*/
@media screen and (min-width: 768px) and (max-width: 991px){
                                        
                                        /*VERSION Tablette*/
                                    /* HEADER */
    header img{
        width: 15%; /*flex-grow marche pas même en mettant un display flex*/
        margin-top: 25px;
    }              
    header h1{ 
        margin-top: 40px;
    }                    
                                    /* FILTRES  */
    .filter__block__links__icons__text{
        margin-top: 20px;
        padding-bottom: 15px;
    }
    .svg-inline--fa{
        top: 20px;
    }
                                    /*ASIDE les plus populaires*/
    section{
        flex-direction: column-reverse; /*permet de mettre aside en premier*/
    }
    aside{
        width: 95%;
        display: flex;
        flex-direction: row;
        border-radius: 0px;
    }
    .top-aside{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        padding-top: 15px;
    }
    #flex-aside{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aside-block{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-top: 0px;
    }
    .aside-block-items{
        width:90%;
        height: 150px;
        display: flex;
        flex-direction: row; /*row place le texte à droite de la photo, column en dessous*/
        justify-content: flex-end;
        border-radius: 20px;
        box-shadow: 2px 5px 10px grey;
    }
    .imgaside{
    width: 40%;
    height: 100%;
    object-fit: cover; /*ne semble pas faire effet*/
    object-position: 50% 50%;
    }
    .Astars, 
    .Anostar {
    padding-top: 5px;
    }
    .aside-block-items-text{
        
    }
   .A-itemnames{
        font-size: 0.9em;
        width: 90%;
    } 
    .A-p-blocks-items {
       /*font-size: 1em;*/
        }
                                /* ARTICLE hébergements */
    article{
        background-color: white;
        width: 98%;}
    #article__blocks{
        background-color:white;
        width: 98%;
    }
    .article__blocks__items{
    
    }
    .itemnames{
        width: 100%;
    }

                                        /* Grid Activités */

    .container{
        grid-auto-rows: 120px 120px;
        grid-gap: 20px;
        width: 95%;
    }
    .container__gallery__item__text{
        padding: 10px;
        font-size: .8em;

    }
    .place1{
        height: 105%;
    }
    .place2{
        height: 105%;
    }
    .place3{
        height: 75%;
        margin-top: 40px;
    }
    .place6{
        height: 80%;
        margin-top: 40px;
    }
                                        /* FOOTER */
    footer{
        padding-top: 15px;
        margin-top: 0px;
        padding-bottom: 30px;    
}
    footer div{
        margin-right: 80px;
} /*margin right enlevé car empêche le responsive sur le footer et sur assistance notamm
}*/
    footer h3{
        font-size: 1.1em;
    }
    footer nav{ /*aligne les liens en colonne*/
        font-size: 0.9em;
}
    footer a{
        padding-top: 10px;
}

    footer a:hover{
    color: #0065FC;
}
 
}