                                /*MEDIA QUERIES*/
@media screen and (max-width: 767px){ /*ou max-device-width:480px pour tous les mobiles*/
                            
                            /* VERSION Mobile */
                            /* HEADER mobile */
    header{
        margin: 0;
        width: 100%;
        padding-right: 0px;
    }
    header .top .logo{
        margin-left: 20px; 
    }
    header .top{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }
    header .top img{
        height: 50px;
        margin-top: 0px;
    }
    header .top nav{
        order: 3;
        width: 100%;
        padding: 15px 0px;
        margin-right: 0; 
    }
    header .top nav a:hover{ 
        border-top: none;
}
    .subscription{
        font-size: 1.2em;
        padding-right: 15px;
    }
    .Hebergementspage{
        border-bottom: 4px solid #2078FD;
        border-top: none;
    }
    .Activitiespage{
        border-bottom: 4px solid #F2F2F2;
    }
    .Hebergementspage, 
    .Activitiespage{
        padding-bottom: 20px;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        font-size: 1.2em;
        margin:0;
    }
                                    /*  HEADLINES Grands titres  */
   .headlines h1{
        width: 90%;
        padding-top: 0px;
   }
    .headlines h1, 
    .headlines h2{
        padding-left: 0px;
        margin-top: 15px;
    }
    .headlines h2{
        margin-bottom: 40px;
        padding-top: 0px;
    }
                            /* bouton search mobile */
    
    .headlines__search-bar{
        display: flex;
        width: 100%;
        margin-left: 15px;
    }
    .localisation{ /*lien et icône*/
        position: relative;
        bottom: 10px; /*top et left permettent de se coller à city*/
        left: -20px;
        margin-top: 10px;
        z-index: 1;
    }
    #city{
        padding-left: 35px; /*top right bottom left*/
        font-size: 1.2em;
        position: absolute; /*permet de prendre toute la largeur*/
    }
     #city:active {
    background-color: #2078FD;
     }
    .fa-search{ /*loupe*/
        display: inline;
        color: white;
        position: relative;
        left: 0px;
        top: 0px;
        height: 50px;
        width: 50px;
        padding: 17px;
        background-color:#2078FD;
        border-radius: 15px;
    }
    .search_button{
        display: none;
    }
    .search_button2{ 
        display: inline;
        position: relative;
        left: 220px;
        height: 40px;
        width: 40px;
        color: white;
        background-color: #2078FD;
        border-radius: 15px;
        border:none;
    }
                                /* Filtres mobile */
    #filter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-around; 
        width: 100%;
        margin: 10px;
    }
    .filter__text{
        margin-left: 15px;
    }
    .filter__block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; 
        width: 100%;
        padding-left: 10px;
    }
    .filter__block__links{
        padding-top: 10px;
    }
    .filter__block__links__icons__text{
        font-size: 1em;
        padding: 15px;
        padding-left: 60px;
    }
    .filter__block__links__icons{
        flex-direction: row;
        position: relative;
        margin-left: 0px;
        padding-right: 10px;
    }
    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
        padding: 18px;
        width: 55px;
        height: 55px;
        position: absolute;
        top:0px;
        left: 0px; 
    }
    .info{
        margin-left: 15px;
        width: 100%;
    }
    .info h2{
        width: 100%;
        font-size: 1.1em;
    }
    .fa-info{
        position: relative;
        left: -2px;
        bottom:10px;
    }
                                        /* Bloc principal mobile */

                                        /* Aside Les plus populaires */
    .main-content{
        flex-direction: column-reverse; /*permet de mettre aside en premier*/
        margin-left: 0px;
    }
    aside{
        width: 100%;
        border-radius: 0;
        padding-left: 20px;
        margin-right: 0px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 0px;
    }
    .Aside-title{
        font-size: 1.5em;
    }
    .top-aside{
        justify-content: space-around;
    }
    .fa-chart-line{
        height: 70px;
        width: 70px;
    }
    .aside-block{
        width: 100%;
    }
    .aside-block-items{
        height: 150px;
        width: 100%;
    }
    .imgaside{
        width: 130px; 
        height:100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .imgaside--2{
        width: 140px;
    }
    .A-itemnames{
        font-size: 1.1em;
        width: 90%;
    } 
    .A-p-blocks-items {
       font-size: 1em;
       margin-top: 10px;
        }
                                /* Article Hébergements */
    article{
        margin-top: 10px;
        background-color: #fdfdfd;
    }
    article, 
    #article__blocks{
        background-color: #ffffff;
        width: 100%; 
        margin: auto;
        padding-left: 10px;
    }
    #Hebergement{
        font-size: 1.5em;
        padding-left: 20px;
        padding-bottom: 15px;
    }
    .article__blocks__items{
        width: 95%;
        font-size: 1.3em;
        margin-left: 0px;
    }
    .img-article-items{
        width: 98%;
        max-height: 150px;
    }
    .itemnames{
        font-size: .8em;
    }
    .p-blocks-items{
        font-size: .7em;
    }
    .divrating{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .stars, .nostar{
        height: 15px;
        width: 15px;
        margin-bottom: 10px;
    }
    .More{
        font-size: 1.2em;
        padding-left: 20px;
    }
                                    /* Bloc activités GRID mobile */
    #Activites{
        font-size: 1.7em;
    }
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 90%;
        margin-bottom: 0px;
        padding-bottom:30px;
        margin: 20px;
    }
    .container__gallery__item{
        width: 100%;
        height: 100%;
    }
    .container__gallery__item .container__gallery__item__image img{
        object-position: 50% 40%; /* le premier change : axe abscisse, le 2eme : axe ordonnée, par défaut c'est top left*/
    }
    .place1{
        grid-column: 1;
        grid-row: 1;
    }
    .place2{
        grid-column: 1;
        grid-row: 2;
        object-position: 50% 60%;
    }
    .place3{
        grid-column: 1;
        grid-row: 3;
    }
    .place4{
        grid-column: 1;
        grid-row: 4;
    }
    .place5{
        grid-column: 1;
        grid-row: 5;
    }
    .place6{
        grid-column: 1;
        grid-row: 6; 
    }
    .place3, 
    .place5, 
    .place6 {
        height: 100%;
        margin-top: 0px;
    }
    .container__gallery{
        height: 200px;
    }
    .container__gallery__item{
        height: 150px;
        width: 100%;
    }
    .container__gallery__item__text{
        font-size: .9em;
         padding: 10px;
    }
                                                /* FOOTER mobile */
    footer{
        flex-direction: column;
        width: 100%;
        padding-bottom: 30px; 
    }
    footer div{   
        font-size: 0.9em;
        margin-right:0px;
    }
    footer nav{
         margin: 10px 0px 30px 0px;
    }
}