                                /*MEDIA QUERIES*/
@media screen and (min-width: 768px) and (max-width: 991px){
                                        
                                        /*VERSION Tablette*/
                                    /* HEADER */
    header img{
        width: 15%; /*flex-grow marche pas même en mettant un display flex*/
        margin-top: 25px;
    }              
    header h1{ 
        margin-top: 40px;
    }                    
                                    /* FILTRES  */
    .filter__block__links__icons__text{
        margin-top: 10px;
        padding-bottom: 15px;
    }
    .svg-inline--fa{
        top: 10px;
    }
                                    /*ASIDE les plus populaires*/
    .main-content{
        flex-direction: column-reverse; /*permet de mettre aside en premier*/
        margin-left: 0px;
    }
    aside{
        width: 98%;
        display: flex;
        flex-direction: row;
        border-radius: 0px;
    }
    .aside-link{
        width: 100%;
    }
    .top-aside{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 50px;
        padding-top: 15px;
    }
    #flex-aside{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aside-block{
        width: 97%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-top: 0px;
    }
    .aside-block-items{
        width:90%;
        height: 150px;
        display: flex;
        flex-direction: row; /*row place le texte à droite de la photo, column en dessous*/
        justify-content: flex-end;
        border-radius: 20px;
        box-shadow: 2px 5px 10px grey;
    }
    .imgaside{
    width: 50%;
    height: 100%;
    object-fit: cover; /*ne semble pas faire effet*/
    object-position: 50% 50%;
    }
   .A-itemnames{
        font-size: 0.8em;
        width: 90%;
    } 
    .A-p-blocks-items {
       font-size: .8em;
    }
                                /* ARTICLE hébergements */
    article{
        background-color: white;
        width: 98%;}
    #article__blocks{
        background-color:white;
        width: 98%;
    }
    .itemnames{
        width: 100%;
    }
                                        /* Grid Activités */
    .container{
        grid-auto-rows: 120px 120px;
        grid-gap: 20px;
    }
    .container__gallery__item__text{
        padding: 10px;
        font-size: .8em;
    }
    .place1{
        height: 100%;
    }
    .place3{
        height: 75%;
    }
    .place4{
        height: 95%;
    }
    .place5{
        height: 75%;
    }
    .place6{
        height: 80%;
    }
                                        /* FOOTER */
    footer{
        padding-top: 15px;
        margin-top: 0px;
        padding-bottom: 30px;
    }
    footer div{
        margin-right: 80px;
    }
    footer h3{
        font-size: 1.1em;
    }
    footer nav{ /*aligne les liens en colonne*/
        font-size: 0.9em;
    }
    footer a{
        padding-top: 10px;
    }
    footer a:hover{
    color: #0065FC;
    }
 
}